# This file is a minimal version of the default config file.
# This is NOT supposed to be enough for most servers.
# Please read the fivem documentation:
#   https://aka.cfx.re/server-commands
#   https://docs.fivem.net/docs/server-manual/setting-up-a-server/

## Edit this via Startup tab in Skynode Panel:
sv_hostname "Hosted by Skynode!"
sets sv_projectName "[CFX Skynode Hosted FiveM Server]"
sets sv_projectDesc "Do you want a server hosted by Skynode go to Skynode.pro"
sets tags "default, deployer"
sets locale "root-NL"

## Edit this via Startup tab in Skynode Panel:
sv_enforceGameBuild 3095
set sv_licenseKey
sv_maxclients 48
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
set steam_webApiKey "none"
set resources_useSystemChat true

## Edit this via Startup tab in Skynode Panel:
sets banner_detail "https://www.skynode.pro/img/poweredbyskynode2.png"
sets banner_connecting "https://www.skynode.pro/img/poweredbyskynode.png"
load_server_icon logo.png

## Everything underneath here you can edit yourself directly in the server.cfg file:

## These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
